.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list__item {
  width: calc(100% - 20px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.item__link {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.item__link:hover,
.item__link:focus {
  background-color: #eee;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 30px auto 10px;
  min-height: 100px;
}

.content__title {
  text-align: center;
}

.content__image {
  width: 100%;
  max-width: 400px;
}

.content__description {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-flow: row nowrap;
    gap: 10px;
  }
  .list__item {
    max-width: 200px;
  }
  .content {
    max-width: 800px;
  }
}
