html, body {
    width: 100%;
    height:100%;
  }

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Raleway', sans-serif;
 }

.logo {
    border-radius: 50%;
    margin-left: 10px;
    width: 80px; 
    height:80px;
}

.header {
    margin-top: 5px;
    margin-bottom: 50px; ;
}

.header_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

button{
    font-family: 'Raleway', sans-serif;    
    border-width: 2px;
    border-radius: 45px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 12px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(216, 6, 6);
    cursor: pointer;
}

.burger_toggle_button{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}
.burger_toggle_button span{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger_toggle_button span, .burger_toggle_button span::before, .burger_toggle_button span::after{
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #BB1E99;
    transition: 0.4s;
}
.burger_toggle_button span::before{
    content: '';
    top: -12px;
}
.burger_toggle_button span::after{
    content: '';
    top:12px;
}

.button_menu_mobile{
    position: fixed;
    right:0;
    top:100px;
    background-color: #2a2a2a;
    padding: 20px;
}

.button_menu_mobile button{
    display: block;
    width:100%;
    float:none;
}

.button_menu_mobile, .burger_toggle_button{
    display: none;
}

.display_burger_menu_mobile{
    display:none;
}

button:hover {
    background: #1e47ff;
    box-shadow: 0 15px 20px rgba(46, 223, 229, 0.4);
    color: white;
    transform: translateY(-3px);
    transition: 0.7s;
}

h1 {
     text-align: center;
}

p {
     font-size: larger;
}

.body_info {
    float: initial;
    width: 70%;
    text-align: center;
    font-size: medium;
    border: thin silver solid;
    margin: auto;
    padding: 0.5em; 
}


img {
    width: 100%;
    height: auto;
}

@keyframes gradient {
    0% {
          background-position: 0% 50%;
     }
    50% {
          background-position: 100% 50%;
    }
    100% {
          background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .display_burger_menu_mobile{
        display: block;
    }
    .button_menu{
        display: none;
    }
    a.burger_toggle_button{
        display: block;
    }

}
