.aside {
    width: 320px;
    background-color: #FFFFFF;
    margin-right: 60px;
    display: block;
}
.accordion {
    display: block;
    background-color: #EDF3FF;
    width: 320px;
    height: 50px;
    border: 0;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 10px 10px 10px 20px;
}
.active, .accordion:hover {
    background-color: #FFFFFF;
}
.open {
    padding: 10px 30px;
}
.panel {
    display: flex;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 320px;
    max-height: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    transition: max-height 0.3s ease-out;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 10px;
}
.panel label {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
    
}
